<!-- Head -->
{{define "head"}}
Show User
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$data := .}}

<!-- Contextual bar -->
{{template "ctxbar" .}}
<!-- Contextual bar -->

<!-- Header -->
{{$title := "Show User"}}
{{template "header" $title}}
<!-- Header -->

<!-- Form -->
{{template "item" .}}
<!-- Form -->

{{end}}
<!-- Body -->
