<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{template "head" .}}</title>
  <meta name="description" content="Granica">
  <meta name="author" content="adrianpk">

  <link rel="stylesheet" href="build/tailwind.css">

</head>

<body class="bg-white">
  <div class="p-8 py-12">
      <img class="h-16 inline-block" src="img/granica.svg" alt="granica logo">
      <img class="h-16 inline-block" src="img/granica_text.png" alt="granica">
  </div>

  <div class="tile is-9 is-parent is-block">
    <div class="section">
      <!-- Flash message -->
      {{template "flash" .}}
      <!-- Flash message -->
      <!-- Body -->
      {{template "body" .}}
      <!-- Body -->
    </div>
  </div>

  <div class="p-8 py-12">
    <hr>
    <p>Icon made by those-icons from <a href="https://www.flaticon.com/free-icon/passport_532542">www.flaticon.com</a></p>
  </div>
  <!--<script src="js/scripts.js"></script>-->
</body>
</html>
